/* Dark theme styles */
.winners-container {
  background: linear-gradient(145deg, #0f172a, #1e293b);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  // height: 400px; /* Fixed height for the container */
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h2 {
  color: #fff;
  margin: 0;
}

.winners-list {
  overflow-y: auto; /* Enable vertical scrolling */
  flex-grow: 1; /* Allow the list to take up remaining space */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.winner-item {
  display: flex;
  justify-content: space-between; /* Space between game key and winner name */
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #334155;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.winner-item:hover {
  background-color: #475569;
}

.game-key {
  font-weight: bold;
  color: #94a3b8;
}

.winner-name {
  color: #e2e8f0;
}

.winner-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
}

.menu-item {
  padding: 10px;
}