<div class="winners-container">
  <div class="header">
    <button class="filter-button" (click)="openFilterDialog()">
      <span class="filter-icon">&#9776;</span> <!-- Filter icon -->
    </button>
    <span class="selected-filters">
      {{ selectedFilters }}
      <span *ngIf="moreFiltersCount > 0" class="more-filter-trigger" [title]="moreFilters">
        +{{ moreFiltersCount }}
      </span>
    </span>
    <div class="sorting-options">
      <select [(ngModel)]="sortCriteria" (change)="applySorting()">
        <option value="gameName">Game Name</option>
        <option value="date">Date</option>
        <option *ngIf="shouldShowScoreSorting()" value="score">Score</option>
        <option *ngIf="shouldShowDurationSorting()" value="duration">Duration</option>
        <option *ngIf="shouldShowLevelSorting()" value="level">Level</option>
      </select>
      <button class="sort-order-button" (click)="toggleSortOrder()">
        <span class="sort-icon">{{ sortOrder === 'asc' ? '↑' : '↓' }}</span> <!-- Arrow icons -->
      </button>
    </div>
  </div>

  <div class="winners-grid">
    <div *ngFor="let gameWinner of filteredWinners; let i = index" class="winner-card">
      <div class="game-info">
        <span class="game-key">{{ getGame(gameWinner)?.name }}</span>
        <span class="winner-date">{{ gameWinner.winDate | date: 'dd MMM yy' }}</span>
      </div>
      <div class="winner-details">
        <span class="winner-name" *ngIf="gameWinner.isDraw">Draw between {{ getAllPlayerNames(gameWinner) ?? 'all players' }}</span>
        <span class="winner-name" *ngIf="!gameWinner.isDraw && gameWinner.winner">{{ gameWinner.winner.name }}</span>
        <span class="winner-score" *ngIf="gameWinner.score">Score: {{ gameWinner.score }}</span>
        <span class="winner-duration" *ngIf="gameWinner.gameDuration">Duration: {{ gameWinner.gameDuration | secondsToHMS: true }}</span>
        <span class="winner-level" *ngIf="gameWinner.gameLevel">Level: {{ gameWinner.gameLevel }}</span>
      </div>
    </div>
  </div>
</div>

<ng-template #filterDialog>
  <div class="filter-dialog">
    <div class="filter-actions">
      <button class="select-all-button" (click)="selectAllFilters()">Select All</button>
      <button class="clear-all-button" (click)="clearAllFilters()">Clear All</button>
    </div>
    <div *ngFor="let game of games" class="filter-option">
      <label class="checkbox-container">
        <input
          type="checkbox"
          [checked]="tempSelectedGames.has(game.key)"
          (change)="toggleTempGameSelection(game.key)"
        />
        <span class="checkmark"></span>
        {{ game.name }}
      </label>
    </div>
    <div class="dialog-actions">
      <button class="cancel-button" (click)="closeFilterDialog()">Cancel</button>
      <button class="apply-button" (click)="applyFilters()" [disabled]="!areFiltersChanged">Apply</button>
    </div>
  </div>
</ng-template>