.memory-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background: linear-gradient(145deg, #0f172a, #1e293b);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  color: white;
  height: calc(100% - 20px);
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  flex: 1 auto;
  background: #0c3c0c;
}

.card {
  width: 80px;
  height: 120px;
  margin: 10px;
  perspective: 1000px;
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: bold;
}

.card-front {
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
}

.card-back {
  background-color: #64748b;
  transform: rotateY(180deg);
}

.question-container {
  margin-top: 20px;
  text-align: center;
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: solid 1px;
  margin: 10px;
  background: #430a0a;
}

.question-card-container {
  display: flex;
  flex: 1 auto;
  div {
    margin: auto;
  }
}

.options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  flex: 1 auto;
}

.option {
  padding: 5px;
  margin: 5px;
  border: 2px solid #64748b;
  border-radius: 5px;
  cursor: pointer;
  height: fit-content;
  transition: all 0.3s ease;
}

.option.selected {
  border-color: #22d3ee;
  background-color: #1e293b;
}

// .yes-no-option {
//   height: 20px;
// }

.submit-answer-action-container {
  display: flex;
}

.submit-answer {
  width: 240px;
  margin: auto;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #22d3ee;
  color: #0f172a;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 5px;
}

button:hover {
  background-color: #0ea5e9;
}

.game-action

.score {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.sequence-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.sequence-options .option {
  padding: 10px;
  margin: 5px;
  border: 2px solid #64748b;
  border-radius: 5px;
  cursor: move;
  transition: all 0.3s ease;
  background-color: #1e293b;
}

.sequence-options .option.cdk-drag-preview {
  opacity: 0.5;
  background-color: #22d3ee;
}

.sequence-options .option.cdk-drag-placeholder {
  opacity: 0;
}