<div class="memory-game">

  <div class="score-container">
    <div class="score">
      <p>Score: {{ score }} / {{ totalQuestions }}</p>
    </div>
    <div class="level-selector">
      <label for="level">Level:</label>
      <select id="level" (change)="onLevelChange($event)">
        <option *ngFor="let level of levels" [value]="level" [selected]="level === selectedLevel">
          {{ level }}
        </option>
      </select>
    </div>
  </div>


  <!-- Card Display -->
  <div class="card-container" *ngIf="!currentQuestion">
    <ng-container *ngFor="let card of visibleCards">
      <ng-container [ngTemplateOutlet]="cardDisplay" [ngTemplateOutletContext]="{card}">
      </ng-container>
    </ng-container>
  </div>

  <!-- Question Container -->
  <div class="question-container" *ngIf="!isShowingCards && currentQuestion">

    <ng-container *ngIf="!isCard(currentQuestion); else yesNoQuestion">
      <p>{{ currentQuestion }}</p>
    </ng-container>
    <ng-template #yesNoQuestion>
      Was the below card present on the table?

      <div class="question-card-container">
        <ng-container [ngTemplateOutlet]="cardDisplay" [ngTemplateOutletContext]="{card: currentQuestion, showAlways: true}">
        </ng-container>
      </div>
    </ng-template>

    <!-- Options for Questions -->
    <div class="options">
      <div *ngFor="let option of options" class="option" (click)="selectOption(option)"
        [class.selected]="userAnswer.includes(option)">
        <!-- Display card name or yes/no option -->
        <ng-container *ngIf="isCard(option); else yesNoOption">
          <ng-container [ngTemplateOutlet]="cardDisplay" [ngTemplateOutletContext]="{card: option, showAlways: true}">
          </ng-container>
        </ng-container>
        <ng-template #yesNoOption>
          <span class="yes-no-option">{{ option }}</span>
        </ng-template>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="submit-answer-action-container">
      <button class="submit-answer" (click)="submitAnswer()" [disabled]="isAnswerSubmitted">Submit Answer</button>
    </div>
  </div>

  <!-- Game Controls -->
  <div class="game-action">
    <button *ngIf="!currentQuestion" (click)="displayCards()" [appLoadingButton]="cardShowDuration" #showCard>Show Cards</button>
    <button *ngIf="currentQuestion" (click)="displayNewCards()" [appLoadingButton]="cardShowDuration" #showCard>New Cards</button>
    <button (click)="resetGame()">Reset Game</button>
  </div>
</div>


<ng-template #cardDisplay let-card="card" let-showAlways="showAlways">
  <div class="card" [ngClass]="{'flipped': !isShowingCards && !showAlways}">
    <div class="card-front" [style.background-image]="getCardbackgroundImage(card)">
    </div>
    <div class="card-back">
    </div>
  </div>
</ng-template>