<div class="memory-game">

  <!-- Score Display -->
  <div class="score">
    <p>Score: {{ score }} / {{ totalQuestions }}</p>
  </div>


  <!-- Card Display -->
  <div class="card-container" *ngIf="isShowingCards">
    <ng-container *ngFor="let card of visibleCards">
      <ng-container [ngTemplateOutlet]="cardDisplay" [ngTemplateOutletContext]="{card}">
      </ng-container>
    </ng-container>
  </div>

  <!-- Question Container -->
  <div class="question-container" *ngIf="!isShowingCards && currentQuestion">

    <ng-container *ngIf="!isCard(currentQuestion); else yesNoQuestion">
      <p>{{ currentQuestion }}</p>
    </ng-container>
    <ng-template #yesNoQuestion>
      Was the below card present on the table?

      <div class="question-card-container">
        <ng-container [ngTemplateOutlet]="cardDisplay" [ngTemplateOutletContext]="{card: currentQuestion}">
        </ng-container>
      </div>
    </ng-template>

    <!-- Options for Questions -->
    <div class="options">
      <div *ngFor="let option of options" class="option" (click)="selectOption(option)"
        [class.selected]="userAnswer.includes(option)">
        <!-- Display card name or yes/no option -->
        <ng-container *ngIf="isCard(option); else yesNoOption">
          <ng-container [ngTemplateOutlet]="cardDisplay" [ngTemplateOutletContext]="{card: option}">
          </ng-container>
        </ng-container>
        <ng-template #yesNoOption>
          <span class="yes-no-option">{{ option }}</span>
        </ng-template>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="submit-answer-action-container">
      <button class="submit-answer" (click)="submitAnswer()" [disabled]="isAnswerSubmitted">Submit Answer</button>
    </div>
  </div>

  <!-- Game Controls -->
  <div class="game-action">
    <button (click)="displayCards(getRandomCards(5))" [appLoadingButton]="cardShowTime" #showCard>Show Cards</button>
    <button (click)="resetGame()">Reset Game</button>
  </div>
</div>


<ng-template #cardDisplay let-card="card">
  <div class="card">
    <div class="card-front" [style.background-image]="getCardbackgroundImage(card)">
      {{ card.rank }} of {{ card.suit }}
    </div>
    <div class="card-back">
      <!-- Back of the card design -->
    </div>
  </div>
</ng-template>