<div class="ludo-game" *ngIf="players.length > 0 && !winner">

    <!-- Game Board -->
    <div class="board-container">
        <div class="board">
            <!-- Base Areas -->
            <div class="base-area red">
                <ng-template [ngTemplateOutlet]="baseAreaCoin" [ngTemplateOutletContext]="{
                        player: getColorPlayer('red'),
                        position: 0,
                        finished: false
                    }">
                </ng-template>
            </div>
            <div class="base-area green">
                <ng-template [ngTemplateOutlet]="baseAreaCoin" [ngTemplateOutletContext]="{
                        player: getColorPlayer('green'),
                        position: 0,
                        finished: false
                    }">
                </ng-template>
            </div>
            <div class="base-area yellow">
                <ng-template [ngTemplateOutlet]="baseAreaCoin" [ngTemplateOutletContext]="{
                        player: getColorPlayer('yellow'),
                        position: 0,
                        finished: false
                    }">
                </ng-template>
            </div>
            <div class="base-area blue">
                <ng-template [ngTemplateOutlet]="baseAreaCoin" [ngTemplateOutletContext]="{
                        player: getColorPlayer('blue'),
                        position: 0,
                        finished: false
                    }">
                </ng-template>
            </div>

            <!-- Center and Paths -->
            <div class="center">
                <div class="finish red"></div>
                <div class="finish green"></div>
                <div class="finish yellow"></div>
                <div class="finish blue"></div>
            </div>

            <!-- Path Cells -->
            <ng-container *ngFor="let path of paths">
                <div class="path" [style.left]="getPathPosition(path.cellNumber - 1, 'col')"
                    [style.top]="getPathPosition(path.cellNumber - 1, 'row')" [ngClass]="{
                        'is-safe': path.isSafe
                    }" [style.backgroundColor]="path.backgroundColor">
                    <ng-template [ngTemplateOutlet]="pathCoin" [ngTemplateOutletContext]="{
                        cellNumber: path.cellNumber
                    }">
                    </ng-template>
                </div>

                <ng-container *ngIf="path.finishPath">
                    <ng-container *ngFor="let fPath of path.finishPath; let fIndex = index">
                        <div class="path" [style.backgroundColor]="fPath.backgroundColor"
                            [style.left]="getPathPosition(fPath.cellNumber - 1, 'col')"
                            [style.top]="getPathPosition(fPath.cellNumber - 1, 'row')">

                            <ng-template [ngTemplateOutlet]="pathCoin" [ngTemplateOutletContext]="{
                                cellNumber: fPath.cellNumber
                            }">
                            </ng-template>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
    </div>

    <!-- Dice and Controls -->
    <div class="controls">
        <div [style.borderColor]="player.color">

            <!-- Leave Game -->
            <button (click)="leaveGame()" *ngIf="mpg && !mpg.isMeTheGameOwner">
                <mat-icon>exit_to_app</mat-icon>
            </button>

            <!-- Cancel Game -->
            <button (click)="cancelGame()" *ngIf="!mpg || mpg.isMeTheGameOwner">
                <mat-icon>close</mat-icon>
            </button>

            <!-- Reset Game -->
            <button (click)="resetGame()" *ngIf="!mpg || mpg.isMeTheGameOwner">
                <mat-icon>restart_alt</mat-icon>
            </button>

            <div class="current-player">
                <div class="player-display">
                    <span class="player-name">{{ players[currentPlayer].name }}</span>
                    <ng-container *ngIf="totalDiceRoll >= 6">
                        <span class="dice-total">({{ totalDiceRoll }})</span>
                    </ng-container>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="dice-container" [ngClass]="{
                'is-not-my-turn': !isMyTurn
            }">
                <div class="dice" (click)="rollDice()" *ngIf="!rolling">
                    <div class="dice-face" [ngClass]="'face-static-' + lastDiceRoll">
                    </div>
                </div>
                <div class="dice" [class.rolling]="rolling" *ngIf="rolling">
                    <div class="dice-face" *ngFor="let face of [1,2,3,4,5,6]; let i = index"
                        [ngClass]="'face-' + (i + 1)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="winner">
    <app-winner [winnerName]="winnerName" winnerMessage="Winner"
    (resetGame)="restartGameFromScratch()" (rematch)="rematch()">
    </app-winner>
</ng-container>

<ng-template #baseAreaCoin let-player="player" let-position="position" let-finished="finished" let-inPath="inPath">
    <ng-container *ngFor="let coin of (player?.ludoCoins ?? []); let i = index">
        <ng-container *ngIf="coin.position === position && (finished === undefined || coin.finished === finished)">
            <div class="coin-container" (click)="handleCoinClick(coin)" [ngClass]="{
                'in-path': !!inPath,
                        'is-not-my-turn': !isMyTurn
            }">
                <div class="coin" [style.background]="player.color" [style.borderColor]="player.color" [ngClass]="{
                        'selectable': playableCoins.has(coin.id) && isMyTurn
                    }">
                </div>
            </div>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #pathCoin let-cellNumber="cellNumber">
    <ng-container *ngFor="let player of players">
        <ng-template [ngTemplateOutlet]="baseAreaCoin" [ngTemplateOutletContext]="{
            player: getColorPlayer(player.color),
            position: cellNumber,
            finished: false,
            inPath: true
        }">
        </ng-template>
    </ng-container>
</ng-template>