.game-icon-container {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 70px;
    border-style: none;
    color: #000000;
    font-family: -apple-system, sans-serif;
    font-weight: bold;
    text-align: center;
    background: #cacfff;
    font-size: inherit;
    

    &.disabled {
        opacity: 0.5;
        color: gray;
    }

    :hover {
        font-size: xx-large;
        transition: all 1s ease;
    }

    .icon-image {
        width: 20px;
        margin: auto;
        padding-bottom: 5px;
    }

    .game-name {
        margin: auto;
    }
}