.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/bodybg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    .header {
        opacity: 0.8;
        max-height: 50px;
        background-position: left;
        border-bottom: solid 1px #6a70a0;
        padding: 10px;
        color: white;

        display: flex;

        .title,
        .action,
        .spacer {
            margin: auto;
        }

        .title {
            font-size: x-large;
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;
        }

        .action-setting {
            display: flex;
            gap: 10px;
        }
    }

    .logs {
        display: flex;
        min-height: 30vh;
        position: relative;

        .messages {
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            border: solid 1px #efefef;
            background: white;

            .message {
                padding: 10px;
            }
        }

        .close-console {
            position: absolute;
            right: 0px;
            top: 0px;
        }

        .close-clear {
            position: absolute;
            right: 0px;
            bottom: 0px;
        }
    }
}
