<div class="container">
  <div class="header">
    <div class="spacer home-icon" *ngIf="gameDashboardService.selectedGame.value">
      <mat-icon (click)="homeClicked()">home</mat-icon>
    </div>
    <div class="spacer title">
      <ng-container *ngIf="!gameDashboardService.selectedGame.value">
        {{ title }}
      </ng-container>
      <ng-container *ngIf="gameDashboardService.selectedGame.value">
        {{ gameDashboardService.selectedGame.value.name }}
      </ng-container>
    </div>
    <div class="spacer"></div>
    <div class="action-setting" *ngIf="gameDashboardService.selectedGame.value?.settingsIconNeeded">
      <mat-icon>settings</mat-icon>
    </div>
    <div class="action-setting" *ngIf="!gameDashboardService.selectedGame.value">
      <mat-icon>info</mat-icon>
    </div>
  </div>
  <div class="body spacer">
    <router-outlet />
  </div>
</div>


