<div class="container" [ngClass]="{'is-logo-loading': isLogoLoading}">


  <div class="header">

    <div class="logo">
      <img src="../assets/icon.png" width="24px" (click)="toggleIconLoading()">
    </div>

    <div class="title">

      <div class="title-text shadows">
        <ng-container *ngIf="!gameDashboardService.selectedGame.value">
          {{ title }}
        </ng-container>
        <ng-container *ngIf="gameDashboardService.selectedGame.value">
          {{ gameDashboardService.selectedGame.value.name }}
        </ng-container>
      </div>
    </div>

  </div>

  <!-- Body -->
  <div class="body spacer" *ngIf="isLogoLoadingComplete">
    <router-outlet />
  </div>

  <!-- Footer -->
  <div class="footer" *ngIf="isLogoLoadingComplete">

    <div class="home-icon" *ngIf="gameDashboardService.selectedGame.value || !isHomePage">
      <mat-icon (click)="homeClicked()">home</mat-icon>
    </div>

    <div class="home-icon" *ngIf="!gameDashboardService.selectedGame.value && isHomePage">
      <mat-icon (click)="showMyQRCode()">person</mat-icon>
    </div>


      <mat-icon *ngIf="gameDashboardService.selectedGame.value?.settingsIconNeeded">settings</mat-icon>

      <ng-container *ngIf="!gameDashboardService.selectedGame.value">
        <mat-icon (click)="router.navigateByUrl('winners')">emoji_events</mat-icon>
        <mat-icon (click)="shoAboutInfo()">info</mat-icon>
      </ng-container>

      <ng-container *ngIf="!isSocketConnected">
        <mat-icon *ngIf="isWifiConnected">wifi</mat-icon>
        <mat-icon *ngIf="!isWifiConnected">wifi_off</mat-icon>
      </ng-container>

      <mat-icon *ngIf="isSocketConnected" class="is-online">online_prediction</mat-icon>

  </div>

  <!-- Logs -->
  <div class="logs" *ngIf="loggerService.showLogs">
    <button mat-icon-button class="close-console" (click)="hideLogs()">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-icon-button class="close-clear" (click)="hideLogs()">
      <mat-icon>delete_forever</mat-icon>
    </button>
    <div class="messages">
      <button (click)="clearLocalStorage()">Clear Storage</button>
      <div class="message" *ngFor="let message of loggerService.logMessages">
        {{ message }}
      </div>
    </div>
  </div>
</div>