.player-ask-wrapper {
    background: #1e293b;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 24px;
    color: white;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 16px;
}

.player-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.player-row {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.player-row label {
    margin-right: 8px;
    font-size: 0.9rem;
}

.input-container {
    position: relative;
    display: flex;

    .clear-player {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
    }

    .online {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: gray;
        font-size: 20px;
    }
}

.player-row input[type='text'],
.player-row input[type='color'] {
    margin-right: 8px;
    padding: 8px;
    border: 1px solid #4b5563;
    border-radius: 8px;
    background: #334155;
    color: #e2e8f0;
}

.player-name {
    width: 100%;

    &:disabled {
        background: #1f2835 !important;
        color: #7c7c7c !important;
    }

    &.request-pending {
        background: #7a5c0a !important; /* Dark Yellow */
        color: #facc15 !important; /* Bright Yellow Text */
    }
    
    &.request-accepted {
        background: #14532d !important; /* Dark Green */
        color: #86efac !important; /* Light Green Text */
    }
    
    &.request-rejected {
        background: #7f1d1d !important; /* Dark Red */
        color: #fca5a5 !important; /* Light Red Text */
    }
    
    &.request-time-out {
        background: #374151 !important; /* Dark Gray */
        color: #d1d5db !important; /* Light Gray Text */
    }
}

.color-input {
    width: 30px;
    height: 30px;
}

.player-row button {
    background: #ef4444;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.player-row button:disabled {
    background: #9ca3af;
    cursor: not-allowed;
}

.controls {
    display: flex;
    gap: 10px;
}

.add-button,
.submit-button {
    background: #2563eb;
    color: #fff;
    border: none;
    padding: 12px 16px;
    border-radius: 8px;
    margin: 8px 0;
    cursor: pointer;
}

.add-button:disabled,
.submit-button:disabled {
    background: #93c5fd; /* Lighter shade of blue */
    color: #e5e7eb; /* Light gray text */
    cursor: not-allowed;
    opacity: 0.6;
}

.add-button:disabled {
    background: #9ca3af;
    cursor: not-allowed;
}

.error {
    color: #f87171;
    font-size: 0.9rem;
}


.color-picker-container {
    position: relative;
    margin-right: 5px;
}

.selected-color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
}

.color-options-dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    gap: 8px;
    background: #334155;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.color-option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
}

.color-option.selected {
    border-color: white;
}

.online-player-list {
    background: #334155;
    border-radius: 8px;
    padding: 8px;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    .online-player {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid #4b5563;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
            background: #475569;
        }

        &.current-selected {
            background: #475569;
            border-radius: 8px;
            box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
        }

        .online-player-name {
            font-size: 0.9rem;
            color: #e2e8f0;
        }

        .online-player-status {
            font-size: 0.8rem;
            color: #94a3b8;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            display: inline-block;
            background: #94a3b8; /* Default gray color */

            &.connected {
                background: #22c55e;
                color: white;
            }
        }
    }

    .add-new-online-player {
        display: flex;
        align-items: center;
        padding: 8px;
        cursor: pointer;
        transition: background 0.3s ease;
        border-radius: 8px;

        &:hover {
            background: #475569;
        }

        .add-icon {
            color: #38bdf8;
            font-size: 20px;
            margin-right: 8px;
        }

        .add-text {
            color: #e2e8f0;
            font-size: 0.9rem;
        }
    }
}

::ng-deep {
    .mat-mdc-menu-panel {
        background: transparent !important;
    }
}
