<div class="player-ask-wrapper">
  <h1 class="title">Configure Players</h1>

  <div class="player-list">
    <div *ngFor="let player of players; let i = index" class="player-row">
      <label for="playerName{{ i }}">{{ (i + 1) }}:</label>

      <div class="input-container">
        <input matInput type="text" id="playerName{{ i }}" [(ngModel)]="players[i].name" class="player-name"
          [disabled]="!!player.connectedUserId" placeholder="Enter player name" />
        <mat-icon [matMenuTriggerFor]="onlinePLayers">online_prediction</mat-icon>

        <mat-menu #onlinePLayers="matMenu">
          <div class="online-player-list">
            <div class="online-player" *ngFor="let user of userService.connectedUsers">
              <div class="online-player-name">
                {{ user.connectionName }}
              </div>
              <div class="online-player-status">
                {{ user.isConnected() }}
              </div>
            </div>
            <div class="add-new-online-player" (click)="startConnectionWizard(player)">
              <mat-icon class="add-icon">add</mat-icon>
              <div class="add-text">New Player</div>
            </div>
          </div>
        </mat-menu>
      </div>

      <!-- Updated Color Picker -->
      <div *ngIf="config.colorOptions" class="color-picker-container">
        <!-- Selected Color Dot -->
        <div class="selected-color" [style.backgroundColor]="player.color" (click)="toggleColorPicker(i)">
        </div>

        <!-- Color Options Dropdown -->
        <div *ngIf="activeColorPickerIndex === i" class="color-options-dropdown">
          <div *ngFor="let color of config.colorOptions" class="color-option" [style.backgroundColor]="color"
            [class.selected]="player.color === color" (click)="selectColor(player, color)">
          </div>
        </div>
      </div>

      <button class="remove-button" (click)="removePlayer(i)" [disabled]="players.length <= config.minPlayerCount">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  <div class="controls">
    <button mat-icon-button class="add-button" (click)="addPlayer()"
      [disabled]="players.length >= config.maxPlayerCount">
      <mat-icon>add</mat-icon>
    </button>
    <div class="spacer"></div>

    <button class="submit-button" (click)="submit()" [disabled]="!isFormValid">
      Submit
    </button>

    <button class="submit-button" (click)="dialogRef.close()">Cancel</button>
  </div>
</div>