<div class="flex">
    <div class="spacer"></div>
    <button mat-icon-button class="close-button" (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-tab-group class="custom-tab-group" (selectedIndexChange)="selectedTabId = $event">

    <mat-tab [label]="tabs[0].header" [disabled]="selectedTab.type !== tabs[0].type && (objServer || objClient)">
        <ngx-spinner size="medium" type="ball-scale-multiple">
        </ngx-spinner>
        <mat-stepper orientation="vertical" #serverStepper="matStepper" [linear]="true">

            <!-- Start Host Configuration -->
            <mat-step [editable]="false" label="Start Hosting" [stepControl]="localQR">
                <button mat-icon-button (click)="startServer(serverStepper)">
                    <mat-icon>flag_circle</mat-icon>
                </button>
            </mat-step>

            <mat-step [editable]="!remoteQR.value" label="Host QR Code" [stepControl]="isScanDone">
                <div class="info">
                    Scan/Upload below QR Code on Player. <br>
                    Is the scan done?
                    <button (click)="setScanComplete(serverStepper)" class="glow-button yes-button">
                        Yes
                    </button>
                </div>
                <!-- Download QR Code -->
                <button *ngIf="localDataAsQRCodeText.length > 8" mat-icon-button class="glow-button download-button"
                    (click)="downloadQRCode(qrcodeServerElement, 'qrcodeHost')" type="button">
                    <mat-icon>download</mat-icon>
                </button>


                <qrcode *ngIf="localDataAsQRCodeText.length > 8" #qrcodeServer [qrdata]="localDataAsQRCodeText"
                    [errorCorrectionLevel]="'H'">
                </qrcode>
            </mat-step>

            <mat-step [editable]="false" label="Scan Player" [stepControl]="remoteQR">

                <button mat-icon-button class="glow-button" (click)="scanPlayer(serverStepper)">
                    <mat-icon>qr_code_scanner</mat-icon>
                </button>
                <div class="error" *ngIf="scanError">
                    {{ scanError }}
                </div>
            </mat-step>

            <mat-step label="Test Connection">
                <ng-template [ngTemplateOutlet]="messageTest"></ng-template>
            </mat-step>

            <mat-step label="Player Name">
                <ng-template [ngTemplateOutlet]="name"></ng-template>
            </mat-step>
        </mat-stepper>
    </mat-tab>

    <mat-tab [label]="tabs[1].header" [disabled]="selectedTab.type !== tabs[1].type && (objServer || objClient)">
        <ngx-spinner size="medium" type="ball-scale-multiple">
        </ngx-spinner>
        <mat-stepper orientation="vertical" #clientStepper="matStepper" [linear]="true">

            <mat-step [editable]="false" label="Scan Host" [stepControl]="localQR">
                <button mat-icon-button class="glow-button" (click)="scanServer(clientStepper)">
                    <mat-icon>qr_code_scanner</mat-icon>
                </button>
                <div class="error" *ngIf="scanError">
                    {{ scanError }}
                </div>
            </mat-step>

            <mat-step label="Player QR">
                <div class="info">
                    Scan/Upload below QR Code on Host. <br>
                    Is the scan done?
                    <button (click)="setHostCandidate(clientStepper)" class="glow-button yes-button">
                        Yes
                    </button>
                </div>
                <!-- Download QR Code -->
                <button class="glow-button download-button" mat-icon-button *ngIf="localDataAsQRCodeText.length > 8"
                    (click)="downloadQRCode(qrcodePlayerElement, 'qrcodePlayer')" type="button">
                    <mat-icon>download</mat-icon>
                </button>
                <qrcode *ngIf="localDataAsQRCodeText.length > 8" #qrcodePlayer [qrdata]="localDataAsQRCodeText"
                    [errorCorrectionLevel]="'H'">
                </qrcode>
            </mat-step>

            <mat-step [editable]="false" label="Test Connection">
                <ng-template [ngTemplateOutlet]="messageTest"></ng-template>
            </mat-step>

            <mat-step [editable]="false" label="Host Name">
                <ng-template [ngTemplateOutlet]="name"></ng-template>
            </mat-step>
        </mat-stepper>
    </mat-tab>

</mat-tab-group>



<ng-template #stepperActions let-stepper="stepper" let-stepCounts="stepCounts" let-isNextDisabled="isNextDisabled">
    <!-- Reset -->
    <!-- <button mat-icon-button (click)="resetSteps(stepper)" class="glow-button reset-button">
        <mat-icon>restart_alt</mat-icon>
    </button> -->
    <!-- Prev -->
    <!-- <button mat-icon-button *ngIf="stepper.selectedIndex > 0" (click)="stepper.previous()">
        <mat-icon>chevron_left</mat-icon>
    </button> -->
    <!-- Next -->
    <!-- <button mat-icon-button *ngIf="stepper.selectedIndex < +stepCounts - 1" (click)="stepper.next()"
        [disabled]="!!isNextDisabled">
        <mat-icon>chevron_right</mat-icon>
    </button> -->
    <!-- Submit -->
    <!-- <button mat-icon-button *ngIf="stepper.selectedIndex === +stepCounts - 1">
        <mat-icon>task_alt</mat-icon>
    </button> -->
</ng-template>

<ng-template #messageTest>
    <div class="user-input">
        <input type="text" [(ngModel)]="message">
        <button (click)="sendMessage()">Send Message</button>
    </div>
    <div style="background-color: white; color: black;">
        <div class="message-list" *ngFor="let m of messages">
            {{ m }}
        </div>
    </div>
</ng-template>

<ng-template #name>
    <div class="name">Name: <input type="text"></div>
</ng-template>