<div class="flex">
    <div class="spacer"></div>
    <button mat-icon-button class="close-button" (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-tab-group class="custom-tab-group" (selectedIndexChange)="selectedTabId = $event">

    <mat-tab [label]="tabs[0].header" [disabled]="selectedTab.type !== tabs[0].type && (objServer || objClient)">
        <ngx-spinner size="medium" type="ball-scale-multiple">
        </ngx-spinner>
        <mat-stepper orientation="vertical" [linear]="true" #serverStepper="matStepper">

            <mat-step label="Start Hosting">
                <button (click)="startServer(serverStepper)">
                    Start Host Configuration
                </button>
                <ng-template [ngTemplateOutlet]="stepperActions"
                    [ngTemplateOutletContext]="{stepper: serverStepper, stepCounts: 5, isNextDisabled: localDataAsQRCodeText.length <= 8}">
                </ng-template>
            </mat-step>

            <mat-step label="Host QR Code">
                <div class="info">
                    Scan/Upload below QR Code on Player
                </div>
                <button *ngIf="localDataAsQRCodeText.length > 8"
                    (click)="downloadQRCode(qrcodeServerElement, 'qrcodeHost', serverStepper)" type="button">
                    Download QR Code
                </button>
                <qrcode *ngIf="localDataAsQRCodeText.length > 8" #qrcodeServer [qrdata]="localDataAsQRCodeText"
                    [errorCorrectionLevel]="'H'">
                </qrcode>
                <ng-template [ngTemplateOutlet]="stepperActions"
                    [ngTemplateOutletContext]="{stepper: serverStepper, stepCounts: 5}">
                </ng-template>
            </mat-step>

            <mat-step label="Scan Player">
                <div class="box-container" (click)="scanPlayer(serverStepper)">
                    <div class="icon">
                        <mat-icon>camera_alt</mat-icon>
                    </div>
                    <div class="trigger">
                        <button mat-raised-button class="glow-button">
                            Scan
                        </button>
                        <div class="error" *ngIf="scanError">
                            {{ scanError }}
                        </div>
                    </div>
                </div>
                <ng-template [ngTemplateOutlet]="stepperActions"
                    [ngTemplateOutletContext]="{stepper: serverStepper, stepCounts: 5}">
                </ng-template>
            </mat-step>

            <mat-step label="Test Connection">
                <ng-template [ngTemplateOutlet]="messageTest"></ng-template>
                <ng-template [ngTemplateOutlet]="stepperActions"
                    [ngTemplateOutletContext]="{stepper: serverStepper, stepCounts: 5}">
                </ng-template>
            </mat-step>

            <mat-step label="Player Name">
                <ng-template [ngTemplateOutlet]="name"></ng-template>
                <ng-template [ngTemplateOutlet]="stepperActions"
                    [ngTemplateOutletContext]="{stepper: serverStepper, stepCounts: 5}">
                </ng-template>
            </mat-step>
        </mat-stepper>
    </mat-tab>

    <mat-tab [label]="tabs[1].header" [disabled]="selectedTab.type !== tabs[1].type && (objServer || objClient)">
        <ngx-spinner size="medium" type="ball-scale-multiple">
        </ngx-spinner>
        <mat-stepper orientation="vertical" [linear]="true" #clientStepper="matStepper">

            <mat-step label="Scan Host">
                <div class="box-container" (click)="scanServer(clientStepper)">
                    <div class="icon">
                        <mat-icon>camera_alt</mat-icon>
                    </div>
                    <div class="trigger">
                        <button mat-raised-button class="glow-button">
                            Scan
                        </button>
                        <div class="error" *ngIf="scanError">
                            {{ scanError }}
                        </div>
                    </div>
                </div>
                <ng-template [ngTemplateOutlet]="stepperActions"
                    [ngTemplateOutletContext]="{stepper: clientStepper, stepCounts: 5}">
                </ng-template>
            </mat-step>

            <mat-step label="Player QR">
                <div class="info">
                    Scan/Upload below QR Code on Host
                </div>
                <button *ngIf="localDataAsQRCodeText.length > 8"
                    (click)="downloadQRCode(qrcodePlayerElement, 'qrcodePlayer', clientStepper)" type="button">
                    Download QR Code
                </button>
                <qrcode *ngIf="localDataAsQRCodeText.length > 8" #qrcodePlayer [qrdata]="localDataAsQRCodeText"
                    [errorCorrectionLevel]="'H'">
                </qrcode>
                <ng-template [ngTemplateOutlet]="stepperActions"
                    [ngTemplateOutletContext]="{stepper: clientStepper, stepCounts: 5}">
                </ng-template>
            </mat-step>

            <mat-step label="Has Host Scanned Player's QR Code">
                <div class="info">
                    After scanning previous QR Code click below.
                </div>
                <button (click)="setHostCandidate(clientStepper)">
                    Yes
                </button>
            </mat-step>

            <mat-step label="Test Connection">
                <ng-template [ngTemplateOutlet]="messageTest"></ng-template>
                <ng-template [ngTemplateOutlet]="stepperActions"
                    [ngTemplateOutletContext]="{stepper: clientStepper, stepCounts: 5}">
                </ng-template>
            </mat-step>

            <mat-step label="Player Name">
                <ng-template [ngTemplateOutlet]="name"></ng-template>
                <ng-template [ngTemplateOutlet]="stepperActions"
                    [ngTemplateOutletContext]="{stepper: clientStepper, stepCounts: 5}">
                </ng-template>
            </mat-step>
        </mat-stepper>
    </mat-tab>

</mat-tab-group>



<ng-template #stepperActions let-stepper="stepper" let-stepCounts="stepCounts" let-isNextDisabled="isNextDisabled">
    <button mat-button (click)="resetSteps(stepper)">Reset</button>
    <button mat-button *ngIf="stepper.selectedIndex > 0" (click)="stepper.previous()">Prev</button>
    <button mat-button *ngIf="stepper.selectedIndex < +stepCounts - 1" (click)="stepper.next()"
        [disabled]="!!isNextDisabled">Next</button>
    <button mat-button *ngIf="stepper.selectedIndex === +stepCounts - 1">Submit</button>
</ng-template>

<ng-template #messageTest>
    <div class="user-input">
        <input type="text" [(ngModel)]="message">
        <button (click)="sendMessage()">Send Message</button>
    </div>
    <div style="background-color: white; color: black;">
        <div class="message-list" *ngFor="let m of messages">
            {{ m }}
        </div>
    </div>
</ng-template>

<ng-template #name>
    Name: <input type="text">
</ng-template>
