<div class="flex">
    <div class="spacer"></div>
    <button mat-icon-button class="close-button" (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-tab-group class="custom-tab-group" (selectedIndexChange)="selectedTabId = $event">
    <mat-tab [label]="tab.header" *ngFor="let tab of tabs"
        [disabled]="selectedTab.type !== tab.type && (objServer || objClient)">
        <ng-template [ngTemplateOutlet]="tabTemplate" [ngTemplateOutletContext]="{tab}">
        </ng-template>
    </mat-tab>
</mat-tab-group>


<ng-template #tabTemplate let-tab="tab">
    <div class="tab-content">

        <div class="button-group">

            <div class="box-container" (click)="scanQRCode(tab.type)" *ngIf="!isServer || objServer != undefined">
                <div class="icon">
                    <mat-icon>camera_alt</mat-icon>
                </div>
                <div class="trigger">
                    <button mat-raised-button class="glow-button">
                        Scan
                    </button>
                    <div class="error" *ngIf="scanError">
                        {{ scanError }}
                    </div>
                </div>
            </div>


            <div class="box-container" (click)="startServer()" *ngIf="isServer && objServer === undefined">
                <div class="icon">
                    <mat-icon>qr_code</mat-icon>
                </div>
                <div class="trigger">
                    <button mat-raised-button class="glow-button">
                        Create
                    </button>
                </div>
            </div>
        </div>

        <button *ngIf="localDataAsQRCodeText.length > 8" (click)="downloadQRCode()">
            Download QR Code
        </button>
        <qrcode *ngIf="localDataAsQRCodeText.length > 8" #qrcode [qrdata]="localDataAsQRCodeText"
            [errorCorrectionLevel]="'H'">
        </qrcode>

        <textarea *ngIf="messages.length > 0">
            {{ messages.join('\n') }}
        </textarea>

    </div>
</ng-template>


<!-- <h1>WebRTC Browser Server & Client</h1>
<div>
    <h2>Local Connection</h2>
    <button (click)="startServer()">Start Server</button>
    <button (click)="startClient()">Start Client</button>
    <button mat-icon-button (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div>
    <h3>Local Offer/Answer</h3>
    <textarea [(ngModel)]="localDescription" readonly></textarea>
</div>
<div>
    <h3>Remote Offer/Answer</h3>
    <textarea [(ngModel)]="remoteDescription" placeholder="Paste remote offer/answer here"></textarea>
    <button (click)="setRemoteDescription()">Set Remote Description</button>
</div>
<div>
    <h3>Local ICE Candidates</h3>
    <textarea [(ngModel)]="localCandidates" readonly></textarea>
</div>
<div>
    <h3>Remote ICE Candidates</h3>
    <textarea [(ngModel)]="remoteCandidates" placeholder="Paste remote ICE candidates here"></textarea>
    <button (click)="addRemoteCandidates()">Add Remote Candidates</button>
</div>
<div>
    <h3>Messages</h3>
    <div>{{ message }}</div>
    <input [(ngModel)]="inputMessage" placeholder="Type a message" />
    <button (click)="sendMessage()">Send Message</button>
</div> -->