<div class="game-container" *ngIf="selectedBoard && players.length > 0">
    <div class="board" [style.background]="'url('+ selectedBoard.background +') 0% 0% / 100% 100% no-repeat'">
        <div *ngFor="let row of arrNumbers;" class="row" [ngClass]="{'reverse-row': isRowLeftToRight(row) }">

            <!-- Render board cells -->
            <div *ngFor="let col of arrNumbers" class="cell">
                <!-- <span class="cell-number">{{ (row - 1) * 10 + col }}</span> -->

                <!-- Render players -->
                <ng-container *ngFor="let player of players; let pi = index">
                    <div *ngIf="playerPositions[pi] === ((row - 1) * 10 + col)" class="player"
                        [style.top]="'calc(30% - '+(pi*5)+'px)'" [style.left]="(pi*5)+'px'">
                        {{ player.name| shortName }}
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="controls" *ngIf="!winner">
        <div>
            
            <button (click)="askForPlayers()">
                <mat-icon>manage_accounts</mat-icon>
            </button>
            <button (click)="resetGame()">
                <mat-icon>restart_alt</mat-icon>
            </button>

            <div class="current-player">
                <div class="player-display">
                    <span class="player-name">{{ players[currentPlayer].name }}</span>
                    <ng-container *ngIf="totalDiceRoll >= 6">
                        <span class="dice-total">({{ totalDiceRoll }})</span>
                    </ng-container>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="dice-container">
                <div class="dice" (click)="rollDice()" *ngIf="!rolling">
                    <div class="dice-face" [ngClass]="'face-static-' + lastDiceRoll">
                    </div>
                </div>
                <div class="dice" [class.rolling]="rolling" *ngIf="rolling">
                    <div class="dice-face" *ngFor="let face of [1,2,3,4,5,6]; let i = index"
                        [ngClass]="'face-' + (i + 1)">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="winner" class="winner dark-theme">
        <div class="winner-message">
            🎉 {{ winner.name }} wins the game! 🎉
        </div>
    </div>
    
</div>