<div class="dialog-container">
    
    <!-- Header -->
    <div class="flex">
        <button mat-icon-button class="close-button" (click)="downloadQRCode(qrCodeElement)">
            <mat-icon>download</mat-icon>
        </button>
        <h2 class="header spacer">Scan Me</h2>

        <button mat-icon-button class="close-button" (click)="dialogRef.close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="body">
        <qrcode [qrdata]="userString" #qrCode [errorCorrectionLevel]="'H'"></qrcode>
    </div>

</div>
