/* You can add global styles to this file, and also import other style files */
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.flex {
    display: flex;
}

.spacer {
    flex: 1 auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.is-online {
    color: #3aff00;
}


.non-clickable {
    pointer-events: none;
}